@page "/counter"
@using blazorBlazoredModal.Client.Components
@rendermode InteractiveWebAssembly

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


<button @onclick="@(() => Modal.Show<ConfirmModal>("confirm?"))">Confirm</button>

@code {
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
